<!DOCTYPE html>
<html dir={{dir}} lang={{lang}}>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>{{fluent "index-page-title"}}</title>
   </head>
   <body>
     <h1>{{fluent "index-page-welcome-message"}}</h1>

      <p>{{userinfo_hash}}</p>
      
      <a href="/store">{{fluent "index-page-store"}}</a><br>
      <a href="/login">{{fluent "index-page-login"}}</a><br>
      <a href="/store/list_items">{{fluent "index-page-items-list"}}</a><br>
   </body>
</html>



