<!DOCTYPE html>
<html dir={{dir}} lang={{lang}}>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>{{fluent "login-title"}}</title>
   </head>
   <body>
      <h1>{{fluent "login-header"}}</h1>


      {{#if (eq flash_kind "error")}}
      <p> {{fluent "login-error-message"}} </p>
      <form action="/login" method="post" accept-charset="utf-8">
         <label for="username">{{fluent "login-username"}}</label>
         <input type="text" name="username" id="username" value="" />
         <label for="password">{{fluent "login-password"}}</label>
         <input type="text" name="password" id="password" value="" />
         <p><input type="submit" value="{{fluent "login-submit"}}"></p>
      </form>
      {{/if}}
      
      {{#if (eq flash_kind "none")}}

      <form action="/login" method="post" accept-charset="utf-8">
         <label for="username">{{fluent "login-username"}}</label>
         <input type="text" name="username" id="username" value="" />
         <label for="password">{{fluent "login-password"}}</label>
         <input type="text" name="password" id="password" value="" />
         <p><input type="submit" value="{{fluent "login-submit"}}"></p>
      </form>

      {{/if}}
      
      
      {{#if (eq flash_kind "success")}}
      <p> {{fluent "login-success-message"}} </p>
      {{/if}}


   </body>
</html>
