

<a href="/config/config_set_lang/fa">Fa</a> |
<a href="/config/config_set_lang/en">En</a> ****  
 
<a href="/store">{{fluent "index-page-store"}}</a> --
<a href="/login">{{fluent "index-page-login"}}</a> --
<a href="/store/list_items">{{fluent "index-page-items-list"}}</a> --
<a href="/store/show_basket">{{fluent "show-basket"}}</a> --
<a href="/signup">{{fluent "signup"}}</a> 




