<!DOCTYPE html>
<html dir={{dir}}>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Store</title>
   </head>
   <body>

      <form action="/store/add_item_submit" method="post" accept-charset="utf-8">
         <label for="product_name">{{fluent "poduct-name"}}</label>
         <input type="text" name="product_name" id="product_name" value="" />
	 
	 <br><br>
	 
         <label for="address">{{fluent "address"}}</label>
         <input type="text" name="address" id="address" value="" />

	 <br><br>
	 
         <label for="unit_price">{{fluent "unit-price"}}</label>
         <input type="text" name="unit_price" id="unit_price" value="" />

	 <br><br>
	 
         <label for="supplier">{{fluent "supplier"}}</label>
         <input type="text" name="supplier" id="supplier" value="" />

	 <br><br>
	 
         <label for="produce_date">{{fluent "produce-date"}}</label>
         <input type="date" name="produce_date" id="produce_date" value="" />

	 <br><br>
	 
         <label for="expire_date">{{fluent "expire-date"}}</label>
         <input type="date" name="expire_date" id="expire_date" value="" />

	 <br><br>
	 
         <label for="number_weight">{{fluent "number-weight"}}</label>
         <input type="text" name="number_weight" id="number_weight" value="" />

	 <br><br>
	 
         <p><input type="submit" value="{{fluent "submit"}}"></p>
      </form>
      {{#if (eq flash_kind "success") }}
      <p> {{fluent "store-add-item-success-message"}} </p>
      {{/if}}
      
      {{#if (eq flash_kind "error") }}
      <p> {{fluent "store-add-item-error-message"}} </p>
      {{/if}}

   </body>
</html>
